{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block extrastyle %}
  <!-- morris css -->
  <link rel="stylesheet" href="{% static 'assets/plugins/chart-morris/css/morris.css' %}">
{% endblock extrastyle %}

{% block content %}

  <!-- [ Main Content ] start -->
  <div class="row">
    
    {% for c in charts %}
    <!--[ chart ] starts-->
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h5>{{ c.label }}</h5>
        </div>
        <div class="card-block">
          <div id="morris-{{ c.id }}-chart" class="ChartShadow" style="height:300px"></div>
        </div>
      </div>
    </div>
    <!--[ chart ] end-->
    {% endfor %}
  </div>
  <!-- [ Main Content ] end -->
{% endblock content %}

{% block extra_js %}

  <!-- chart-morris Js -->
  <script src="{% static 'assets/plugins/chart-morris/js/raphael.min.js' %}"></script>
  <script src="{% static 'assets/plugins/chart-morris/js/morris.min.js' %}"></script>
  <script>
    'use strict';
    const charts = JSON.parse("{{ chartsJSON | escapejs }}")
    console.log(charts[0].futuro)
    $(document).ready(function() {
      setTimeout(function() {
        for (const c of charts) {
          Morris.Line({
              element: `morris-${c.id}-chart`,
              data: [...c.passado, ...c.futuro],
              xkey: 'mes',
              redraw: true,
              resize: true,
              smooth: false,
              ykeys: [
                'observado',
                'previsto',
                'superior',
                'inferior',
              ],
              hideHover: 'auto',
              responsive:true,
              labels: [
                'Observado',
                'Previsto',
                'Limite de Confiança Superior',
                'Limite de Confiança Inferior',
              ],
              lineColors: ['#00ffff', '#ff8000', '#ffbf80', '#ffbf80'],
              pointSize: 0
          });
        }
      }, 700);
    });
  </script>

{% endblock extra_js %}